.user-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  height: 100vh;

  .cover {
    width: 100%
  }

  .form-container {
    display: flex;
    flex-direction: column;

    .form-alert {
      color: #ec223e
    }
  }

  > * {
    width: 100%;
  }

  form {
    margin-bottom: 20px;

    > * {
      margin: 5px 0;
    }
  }

  .mat-radio-button {
    margin: 0 5px;
  }
}
