<div class="user-form">
    <mat-form-field appearance="fill">
        <mat-label>Imię</mat-label>
        <input matInput type="text" [(ngModel)]="firstName" placeholder="Wpisz imię">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input matInput type="text" [(ngModel)]="lastName" placeholder="Wpisz nazwisko">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" placeholder="Wpisz email">
    </mat-form-field>
</div>