html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.notify-error > div {
    background: #ec223e !important;
}

.notify-success > div {
    background: #579f8c !important;
}